@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.mainTable {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    border-width: 3px;
    border-spacing: 0;
    

}

.otherButtons {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}



.mainTable th {
    width: 150px;
    background-color: rgb(238, 32, 159);
    line-height: 45px;
    text-align: center !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: larger;
    border-inline-width: 3px;
    border-width: 3px;;
    border-right: 3px solid black;
    padding: 0.5em 1em;
    
    
}

.spacious{
    
    position: relative;
    top: 15px;
    
}

.clearButton{
    position: absolute;
    top: 0px;
    right: 0px;
}



.mainTable tr:first-child th:first-child {
    border-radius: 1.5em 0 0 0;
}
/* the last 'th' within the first 'tr' of the 'thead': */
.mainTable tr:first-child th:last-child {
    border-radius: 0 1.5em 0 0;
}
/* the first 'td' within the last 'tr' of the 'tbody': */
.mainTable tr:last-child td:first-child {
    border-radius: 0 0 0 1.5em;
}
/* the last 'td' within the last 'tr' of the 'tbody': */
.mainTable tr:last-child td:last-child {
    border-radius: 0 0 1.5em 0;
    
}



.mainTable td:first-child {
    background-color: rgb(214, 230, 235);
    border-inline-width: 3px !important;
    border-width: 1px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    border-right: 3px solid black;
    padding: 0.5em 1em;
    border-top: 1px solid black;
}
.mainTable td {
    background-color: rgb(214, 230, 235);
    font-size: 16px;
    text-align: center;
    border-inline-width: 3px !important;
    border-width: 1px;
    line-height: 30px;
    border-right: 3px solid black;
    padding: 0.5em 1em;
    border-top: 1px solid black;
}

.mainTable th:last-child,td:last-child {
    border-right: 0px !important;
}


